body
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-image: url(img/fondo1.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    
}
.container
{
    /* repeat(cantidad, valor) minmax(valor minimo, valor maximo)*/
   display: grid;/* trabaja como grilla puede contener columnas y filas*/
   /*grid-template-columns: 100%; /* crea la cantidad de columnas con el porcentaje o px*/
   grid-template-rows:25% 35% 40%; /*da el tamaño indicado a las filas*/
   /*gap: 10px; /* da un espaciado a todos los elementos de la grilla columns grid para dar espacio a las columnas o row grid para las filas*/
   width: 300px;
   height: 500px;
   margin: 5% auto;
   border-radius: 20px;
} 
.container div
{
    background-color: azure;
}
.container .border
{
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    background-image: url(img/santiago.jpeg);
    background-repeat: repeat;
}
.border  img
{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    top: 65%;
    left: 33%; 
}
.dates
{
    display: grid;
    grid-template-rows: 50% 50%;  
}
.name
{
    font-size: 20px;
    font-weight: bold;
    padding-top: 10%;
   
}
.name h4
{
    text-align: center;
}
.img
{
    display: grid;
    grid-template-columns: 45% 55%;
    padding-top:5%;
    padding-left: 25%;  
}
.dates img
{
    width: 35%;
    height: 45%;
    border-radius: 50%;
    text-align: center;
    background-color: #ff92926c;
}
.div2
{
    width: 85%;
    height: 100%;
    margin-left: 0;
    padding-left: 0;
}
.social h4
{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 2%;
    font-size: minmax(8px, 15px );
}
.social p
{
    margin-left: 2%;
    margin-right: 2%;
    text-align: justify;
}
.social img
{
    margin-top: 6%;
    margin-left: 25%;
    width: 12%;
    height: 20%;
    border-radius: 50%;
}
.social
{
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
}

